[mysqld]
server-id=1
log_bin=mysql-bin
binlog_format=ROW
binlog_row_image=FULL

gtid_mode=ON
enforce_gtid_consistency=ON
log_replica_updates=ON

character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci